# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\后端\python_library\xalwt_openpyxl\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
